.foot {
    /* display: flex; */
    background-color: #400095;
}


.title {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

h1 {
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    justify-content: center;
}

h2{
    color: white;
    font-weight: 700;
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
    padding-bottom: 0;
    margin-bottom: 0;
}

h3 {
    padding-top: 0;
    margin-top: 0;
    color: white;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Nunito Sans', sans-serif;
}

.people {
    display: flex;
    margin: 20px;
    padding-bottom: 10px;
}

.person {
    width: 45%;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    padding-bottom: 10px;
}

.profile {
    border-radius: 50%;
    width: 85px;
}
